
.card{
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.2s ease-in;
  border: 1px solid #ff756b;
  
}
.card:hover{
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border: 1px solid #e6e6e6;
}
// header img
.card-img{
  margin-bottom: 10px;
  
  img{
    width: 100%;
    max-height: 380px;
    border-radius: 5px;
  }
}
// description
.card-desc{

}
.card-desc__title{
  display: flex;
  justify-content: center;
  min-height: 70px;
  font-size: 24px;
  font-weight: 600;
}
.card-desc__author{
  min-height: 30px;
  font-size: 20px;
  font-weight: 400; 
}
.card-desc__desc{
  min-height: 50px;
  font-size: 16px;
  font-weight: 400; 
}
.card-desc__price{
  min-height: 50px;
  font-size: 20px;
  font-weight: 500;
}
// footer
.card-footer{
  
  button{
    background: #ff756b;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: transparent;
    outline: none;
    transition: all 0.2s ease-in;
  }
  button:hover{
    background: #4e4e4e;
    color: #fff;
    cursor: pointer;
  }
}